<div class="text-center">
  <h1>ルームに入る</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(url: enter_room_path, scope: :session, local: true) do |f| %>

      <div class="form-group">
        <%= f.label :room_name, 'ルーム名' %>
        <%if room_params %>
          <%= f.text_field :room_name,value: params[:room_name], class: 'form-control' %>
        <% else %>  
          <%= f.text_field :room_name, class: 'form-control' %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'キー ＊キーが設定されていない場合は変更せずに入室してください'%>
        <%= f.password_field :password,value: "password", class: 'form-control' %>
      </div>

      <%= f.submit '入室する', class: 'btn btn-primary btn-block' %>
    <% end %>

    <p> <%= link_to 'ルームを新しく作りますか?', build_room_path %></p>
  </div>
</div>