<ul class="list-unstyled">
  <% talks.each do |talk| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
         <span class="text-muted"><%= talk.created_at.strftime('%Y/%m/%d') %><%= talk.user_id %></span><%= identify_name(talk) %><%= render "bans/ban_button", user: identify_user_id(talk) %> 
        </div>
        <div>
          <p><%= talk.content %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate talks %>
</ul>