
<% if logged_in? && refusal? %>
  <div class="row">
    <aside class="col-sm-4">
      
      <%= form_with(model: @talk, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'トークする', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'talks/talks', talks: @talks %>
    </div>
  </div>

  
<% else %>
  <div class="center jumbotron">
  <div class="text-center">
    <%= link_to "ルームを作る", split_room_path %>
    <%= link_to "ルームに入る", enter_room_path %>
    <%= link_to "ルームを探す", search_rooms_path %>
  </div>
</div>
<% end %>

