<p>検索</p>
<%= form_tag(search_rooms_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :room_name => nil %>
<% end %>

<ul><% @rooms.each do |room| %>
  <li>
    <%= form_tag(enter_room_path, method: :get) do %>
      <%= hidden_field_tag :room_name, room.room_name %>
      <%= submit_tag "#{room.room_name} コメント数 #{count_talks(room)}"  %>
    <% end %>
  </li>
  <% end %>
</ul>